[include]
    path = ~/.gitconfig.local

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only


[delta]
  features = side-by-side
  hunk-header-style = omit
  dark = true
  navigate = true

[delta "lazygit"]
  side-by-side = false
    dark = true

[init]
    defaultBranch = main
