export PATH=$PATH:$HOME/.local/apps # this is where i dump my fun programs...
export PATH=$PATH:$HOME/.local/scripts
export PATH=$PATH:$HOME/.local/bin

# make CapsLock behave like Ctrl:
setxkbmap -option caps:escape
xinput set-prop "DELL09E2:00 04F3:30CB Touchpad" "libinput Tapping Enabled" 1
